.page-banner{
  position: relative;
  overflow-y: hidden;
  margin: 0;
  height: 700px;
  width: 100%;
  background-color: black;
}

.page-banner > *{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}

.page-heading {
  font-size: 2rem;
  color: purple;
  text-decoration: none;
  margin-top: 250px;
  margin-left: 380px;
}
