.page-banner{
  position: relative;
  overflow: hidden;
  height: 1200px;
  width: 100%;
  background-color: black;
}

.page-banner > * {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none !important;
}

.page-banner > a > h1 {
  color: #7b7d7b;
  margin-top: 150px;
  text-align: center;
  text-decoration: none;
  font-size: 300px;
  opacity: .8;
  font-family: 'Cabin', sans-serif;
}